<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.habin.shopcar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".viewdemo.Test2ViewActivity"></activity>
        <activity android:name=".viewdemo.SelectViewActivity" />
        <activity
            android:name=".viewdemo.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewdemo.dummy.ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewdemo.dummy.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".viewdemo.dummy.ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.habin.shopcar.viewdemo.dummy.ItemListActivity" />
        </activity>
        <activity android:name=".viewdemo.ViewDemoActivity" />
        <activity android:name=".signature.SignatureActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".btnNav.BtnNavActivity" />
        <activity android:name=".StartActivity" />
        <activity android:name=".salaryTest.SalaryActivity" />
        <activity android:name=".shopCar.MainActivity" />
        <activity android:name=".cutleryRecycling.CutleryRecyclingActivity" />
        <activity android:name=".cutleryRecycling.SearchRecylingActivity" />
    </application>

</manifest>